.header-ungu {
  --background: linear-gradient(90deg, #6a5acd, #8a2be2);
  color: white;
}

.bg {
  --background: linear-gradient(180deg, #6a5acd, #8a2be2);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 20px;
  width: 350px;
  max-width: 90%;
  color: white;
}