<ion-header>
  <ion-toolbar class="header-ungu">
    <ion-title>📦 TemuBarang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">

  <div class="container">

    <div class="card">

      <h2>➕ Tambah Laporan</h2>

      <input
        type="text"
        placeholder="Nama Barang"
        [(ngModel)]="nama"
        class="custom-input"
      />

      <input
        type="text"
        placeholder="Lokasi"
        [(ngModel)]="lokasi"
        class="custom-input"
      />

      <input
        type="text"
        placeholder="Kontak"
        [(ngModel)]="kontak"
        class="custom-input"
      />

      <select
        [(ngModel)]="jenis"
        class="custom-input"
      >
        <option value="Barang Hilang">
          Barang Hilang
        </option>

        <option value="Barang Ditemukan">
          Barang Ditemukan
        </option>
      </select>

      <input
        type="file"
        (change)="uploadFoto($event)"
        #fileInput
      />

      <button
        class="btn"
        (click)="simpan()"
      >
        SIMPAN
      </button>

      <button
        class="btn green"
        (click)="exportPDF()"
      >
        EXPORT PDF
      </button>

      <button
        class="btn blue"
        routerLink="/home"
      >
        LIHAT LAPORAN
      </button>

    </div>

  </div>

</ion-content>