.header-ungu {
  --background: linear-gradient(
    90deg,
    #6a5acd,
    #8a2be2
  );

  color: white;
}

/* BACKGROUND */
.bg {
  --background: linear-gradient(
    180deg,
    #6a5acd,
    #8a2be2
  );

  min-height: 100vh;
}

/* SEARCHBAR DARK THEME MATCHING */
ion-searchbar {
  --background: #1e1e1e !important;
  --color: #ffffff !important;
  --placeholder-color: #bdbdbd !important;
  --icon-color: #ffffff !important;
  --clear-button-color: #ffffff !important;
  --border-radius: 16px !important;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35) !important;
  margin: 16px 12px 12px 12px;
  padding: 0;
  border-radius: 16px;
}

/* GRID */
.list {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 12px;

  padding: 10px 10px 30px;

  min-height: 100vh;
}

/* CARD */
.item {
  background: #1e1e1e;

  border-radius: 18px;

  padding: 10px;

  color: white;

  display: flex;

  flex-direction: column;

  box-shadow: 0 4px 12px rgba(0,0,0,0.35);
}

/* IMAGE */
.item img {
  width: 100%;

  height: 130px;

  object-fit: contain;

  background: #000;

  border-radius: 12px;

  margin-bottom: 10px;
}

/* INFO */
.info {
  display: flex;

  flex-direction: column;

  gap: 5px;

  font-size: 12px;
}

.nama {
  font-size: 15px;

  font-weight: bold;

  margin-bottom: 6px;
}

.desc {
  color: #dddddd;
}

.auto {
  color: #ffcc00;
}

.sisa {
  color: #00ff99;
}

/* STATUS */
.badge {
  margin-top: 8px;

  padding: 6px 10px;

  text-align: center;

  border-radius: 999px;

  font-size: 11px;

  font-weight: bold;
}

.hijau {
  background: #00c853;

  color: white;
}

.kuning {
  background: #ffcc00;

  color: black;
}

/* BUTTON */
.btn-wrapper {
  margin-top: 8px;
}

ion-button.btn-sedang {
  --background: #2563eb;

  width: 100% !important;

  height: 34px;

  font-size: 12px;

  --border-radius: 12px;
}

ion-button.btn-sedang[disabled] {
  --background: #00c853;

  opacity: 0.8;
}

/* BACK */
.back {
  font-size: 34px;
}

/* EMPTY */
.empty {
  min-height: 80vh;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  text-align: center;

  color: white;

  padding: 20px;
}

.empty ion-icon {
  font-size: 70px;

  margin-bottom: 14px;
}

.empty h3 {
  font-size: 34px;

  font-weight: bold;

  margin-bottom: 10px;
}

.empty p {
  font-size: 20px;

  opacity: 0.9;
}