/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Global styles for Ionic app
 */

/* Core CSS required for Ionic components */
@import "@ionic/angular/css/core.css";

/* Basic CSS */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* DARK MODE DIMATIKAN */
/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import "@ionic/angular/css/palettes/dark.system.css"; */


/* FORCE LIGHT MODE */

:root {
  --ion-background-color: #6f42ff;
  --ion-text-color: #ffffff;
  --ion-item-background: transparent;
}

body {
  background: #6f42ff !important;
  color: #ffffff !important;
}

ion-app {
  background: #6f42ff !important;
}

ion-content {
  --background: #6f42ff !important;
}

ion-item {
  --background: transparent !important;
  --color: #ffffff !important;
}

ion-input,
ion-select,
ion-textarea {
  --background: #ffffff !important;
  --color: #000000 !important;
  color: #000000 !important;
  border-radius: 16px !important;
  padding: 10px !important;
}

input:not(.searchbar-input),
select,
textarea {
  background: #ffffff !important;
  color: #000000 !important;
}

button,
ion-button {
  --background: #ffffff !important;
  --color: #6f42ff !important;
  border-radius: 18px !important;
  font-weight: bold;
}